*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width:100vw;
    background-color: rgb(103, 201, 103);
}

.navbar-brand span{
    
font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color:rgb(89, 207, 168);
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(17, 114, 41);
    text-transform:uppercase;
    font-size: 18px;
}

.nav-link:hover{
    color:rgb(1, 248, 67)
}

.main-heading{
        font-size: 35px;
        padding: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        color: rgb(240, 245, 240);
}

.logo{
    margin-left: 20px;
}

.heading{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 70px;
    font-family: Copperplate;
  }

.image{
    width: 30vw;
    height: 50vh;
    margin-right: 50px;
    margin-top: 30px;
  }

.About{
    padding: 20px;
    margin-left: 30px;
}

  .heading{
    font-size: 25px;
    font-weight: bold;
  }
.ab1{
    margin-right:40vw;
}
.ab2{
    margin-left: 40vw;
}

.para1{
    background: #111;
    color: #fff;
    padding: 15px 23px;
    margin: 15px;
    margin-left: 85px;
}
.para2{
    background: #111;
    color: #fff;
    font-size: 18px;
    padding: 15px 23px;
    margin: 15px;
    margin-right: 85px;
}

footer {
    background: rgb(103, 201, 103);
}
.copy{
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
}

.main-container{
    background-color: rgb(153, 214, 153);
}