
h1{
    text-align: center;
}
p{
    text-align: center;
}
#logo-pic{
    width: 153px;
    margin-left: 60px;

}
.main{
    background-color: aqua;
    height: 800px;
    width: 800px;
    margin-left: 360px;
    display:flex;
}
.hero{
    margin-left: 500px;
}
.card{
    width: 300px;
    display: flex;
    margin-left: 474px;
    margin-top: 225px;
    margin-right: 200px;

}
.card img{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 180px;
}
input{
    display: none;
}
.btn1{
height: 45px;
width: 35%;
border: none;
outline: none;
padding-left:30px ;
border-radius: 12px;
background-color:rgb(248,26,92) ;
color: white;
font-weight: 70;
cursor: pointer;
margin-left: 85px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.bill-content-box {
    border: 1px solid #ccc; 
    padding: 20px; 
    margin-bottom: 20px; 
}
#store-name{
    width: 300px;
    margin-left:334px;
    height: 50px;
    width: 453px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
}
  /* Style for the table */
  #bill-table {
    width: 100%;
    border-collapse: collapse; /* Collapse the borders into a single border */
}


#bill-table thead th {
    background-color: #f2f2f2; /* Light gray background */
    border: 1px solid #dddddd; /* Gray border */
    padding: 8px; /* Padding around header cells */
    text-align: left; /* Align text to the left */
}

/* Style for table body rows */
#bill-table tbody td {
    border: 1px solid #dddddd; /* Gray border */
    padding: 8px; /* Padding around cells */
}

/* Style for table footer */
#bill-table tfoot td {
    background-color: #f2f2f2; /* Light gray background */
    border: 1px solid #dddddd; /* Gray border */
    padding: 8px; /* Padding around cells */
    font-weight: bold; 
}
.store-name {
    text-align: center;
  
}

.store-details {
    text-align: left;
}

.logo-card {
    position: absolute;
    top: 0;
    right: 0;
}
#date{
    width:500px;
}
#address{
    width: 500px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width:100vw;
    background-color: rgb(103, 201, 103);
}

.navbar-brand span{    
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover{
    color:rgb(89, 207, 168);
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(17, 114, 41);
    text-transform:uppercase;
    font-size: 18px;
}

.nav-link:hover{
    color:white;
}